.day-track {
    @include build-flex(row, wrap);
    background-color: rgba($color: $purple-tin, $alpha: 0.5);
    padding: 1rem;
    align-content: stretch;
    justify-content: center;
    .sched-task {
        border: 4px solid #FFF;
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px 0 rgba($color: #000, $alpha: 0.2), 0 6px 20px 0 rgba($color: #000, $alpha: 0.2);
        color: #FFF;
        max-width: 360px;
    }
}